

 html{
	height:100vh;
	width:100vw;
	color: white;
	font-family: 'Century Gothic';

}

a{
	text-decoration: none;
}

body {
	height:100%;
	width:100%;
	background-color:#000D1A;
	

}

#navbar {
	height:50px;
	width:100%;
    /*background-color: #FFF;*/
    
	
}

#navbar img {
	margin-top:20px;
}

.right{
	float:right;
	padding-right:20px;
	
}
.left {
	padding-left:20px;
	float:left;
}

.centered {
	padding-left:70px;
}

.size{
	height:100vh;
	width:700px;
	margin-left:300px;
}

.size h2 {
	color:#fd5f00;;
}
#button {
	text-align: center;
	height:30px;
	width:100px;
	background-color: #ff14ab;
	border-style: solid;
	padding:10px;
	border-color:#f0f400;
	border-width: 2px;
	margin-left:500px;
	margin-top: 40px;
}

#button-text {
	padding-top: 5px;
	color:#f0f400;
	font-family:'Century Gothic';
}

#button:hover{
	background-color: #000;
	border-color:#ff14ab;
	color:#ff14ab;

}

#button-text:hover {
	color:#ff14ab;
}