
 html{
	height:100vh;
	width:100vw;

}

body {
	height:100%;
	width:100%;
	background-color:#000D1A;

}

#floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #000;
        padding: 4px;
        border: 1px solid #ff14ab;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        margin-top: 19px;
       margin-left: 150px;



      }
#submit {
  background-color: #000;
  border-style: solid;
  border-color:#ff14ab;
  border-width: 1px;
  height:23px;
  color: #ff14ab;

}

#navbar {
	height:50px;
	width:100%;
    /*background-color: #FFF;*/
    background-color: transparent;
    text-align: center;
}

#navbar img {
	margin-top:20px;
}

.right{
	float:right;
	padding-right:40px;

}
.left {
	padding-left:20px;
	float:left;
}

.centered {
	padding-left:80px;
}

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
	fill: white;
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
#address {
  color:#999;
  margin-right:3px;
}
